.Valid-Item, .Not-Valid-Item{
    margin-bottom: 10px;
}
.Valid-Item::marker {
    content: '';
  }

.Valid-Item::before {
    content: '';
    position: absolute;
    height: 1em;
    width: 1em;
    background: url('../../assets/check.png');
    transform: translate(-100%);
    background-size: cover;
  }

.Not-Valid-Item::marker {
    content: '';
  }
  
.Not-Valid-Item::before {
    content: '';
    position: absolute;
    height: 1em;
    width: 1em;
    background: url('../../assets/notCheck.png');
    transform: translate(-100%);
    background-size: cover;
  }

#Check-Item-List-Main-Container{
    padding: 15px;
    
}