.Recover-Password-Main-Container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.Recover-Password-Form{
    border-radius: 5px;
    padding: 15px;
    background-color: #373e4f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Recover-Password-Title {
    color: #7783d1;
}

.Recover-Password-Form p {
   color: white;
   margin: 5px;
}

.Recover-Password-Form input {
    height: 25px;
    width: 100%;

 }



 

