.Buttons-Container {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    color: white;
}
.Default-Button {
    background-color: #10203b;
    padding: 15px;
    border-color: gold;
    color: white;
    cursor: pointer;
    font-size: 0.8em;
    transition: background-color 0.3s;
    
}

.Default-Button:hover {
    font-size: 0.9em;
    background-color: #ff7f00;
}