#Basic-Button{
    color: white;
    padding: 10px;
    background-color: #7783d1;
    border: none;
    transition: transform 0.3s, box-shadow 0.3s;
}

#Basic-Button:hover{
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}