.Profile-Bundle{
    display: flex;
    flex-direction: row;
    height: 360px;
    background-color: black;
    border-radius: 5px;
    padding: 3px;
    width: 100%;
}

.Profile-Bundle img{
    display: flex;
    flex-direction: row;
    height: 360px;
    background-color: black;
}


.Profile-Name-Description{
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.Profile-Name-Description h3, .Profile-Name-Description span{
    color: white;
}