.Gallery-Card {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 383.317px;
    height: 514px;

}

.Gallery-Card-Image {
    height: 271.317px;
}

.Gallery-Card span {
    padding: 10px;
    padding-top: 20px;
    color: chocolate;
}