.Tab span {
    font-size: 1.2em;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    margin-right: 10px;
    cursor: pointer;
}

.Tab span:hover{
    color: #ff7f00;
}

.Tab {
    text-decoration: none;
}