#About-Us{
    margin-top: 7em;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e0a42a;
}

#About-Us h2{
    color: white;
    font-size: 2.5em;
}

.About-Us-Profile-Slider-Wrapper{
    position: relative;
    max-width: 780px;
    margin: 0 auto;
}

.About-Us-Profile-Slider{
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}


.About-Us-Profile-Slider div{
    scroll-snap-align: start;
    object-fit: cover;
}

.Slider-Nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.Slider-Nav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: white;
    opacity: 0.75;
    transition: opacity ease 250ms;
   
}

.Slider-Nav a:hover{
    opacity: 1;
   
}