.Prices-Item{
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    border-radius: 5px;
}

.Prices-Item:hover{
    background-color: #ff7f00;
    transform: scale(1.1);
}



