#Gallery {
    display: flex;
    background-image: url('../../assets/gallery-background.png');
    justify-content: center;
}

.Gallery-Cards {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}