#Register-Main-Container{
    display: flex;
    flex-direction: column;
    background-color: #373e4f;
    justify-content: center;
}

.Register-Form {
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

