
.Login-Form-Row {
    display: flex;
    flex-direction: row;
}
.Login-Form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
}

#Login-Main-Container{
    display: flex;
    flex-direction: column;
    background-color: #373e4f;
    justify-content: center;
}


.Login-Form button{
    color: white;
    padding: 10px;
    background-color: #7783d1;
    border: none;
    margin-bottom: 10px;
    margin-top: 17px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.Login-Form button:hover{
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.Login-Form a{
    font-size: 14px;
    color: #7783d1;
    cursor: pointer;
}

.Login-Form-Row{
    display: flex;
    justify-content: space-evenly;

}