.Register-Name-Input, .Register-Last-Name-Input {
    height: 30px;
    margin-bottom: 20px;
    width: 43%;
}
.Register-Name-Input {
    margin-right: 5px;
}


.Name-And-Last-Name-Inputs-Container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

