.Feature {
    display: flex;
    flex-direction: column;
}

.Feature:hover {
    border: #074863 2px solid;
    border-radius: 5px;
    padding: 10px;
}

.Feature h3{
    color: #1273a3;
}

.Feature span{
    color: #074863;
}

