.Header {
    display: flex;
    flex-direction: row;
    background-color: #10203b;
    height: 76.4px;
    align-items: center;
}

.Header-Title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    margin-right: 20px;
    cursor: default;
}

.Header-Title span {
    font-size: 1.5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
}

.Header-Tabs {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-between;
    align-items: center;
}

.Header-Title-Separator {
    width: 1px;
    height: 50px;
    background-color:  #D3D3D3;
    margin-right: 20px;
}

.Header-Tabs-Registration {
    margin-left: 100px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}