#Form-Email-Input, #Form-Password-Input, #Form-Confirm-Password-Input{
    height: 30px;
    margin-bottom: 20px;
}

.Email-And-Password-Inputs{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

.Email-And-Password-Inputs input{
    width: 45%;
}