#Features {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    background-color: #fffcfc;
}

#Features h2 {
    font-size: 2.5em;
    color: #32bfeb;
}

.Gallery-Cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 30px;
}