#Prices-Main-Panel{
    display: flex;
    flex-direction: column;
    background-color: #fffcfc;
    align-items: center;
}

#Prices-Main-Panel h2{
    font-size: 2.5em;
    color:  orange;
}
  

#Prices-Item-Container{
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin-top: 10px;
    
}
   