.Choose-Login-Or-Register{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Choose-Login-Or-Register button{
    background-color: #7783d1;
    color:  white;
    height: 30px;
    border: none;
    margin-right: 10px;
    border-radius: 3px;
  
}

.Choose-Login-Or-Register button:hover{
    animation: pulse 2s infinite;
    cursor: pointer;
  
}

@keyframes pulse {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.1);
      opacity: 0.7;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }