.Welcome-Content {
    display: flex;
    flex-direction: row;
    background-color: #10203b;
}

.Welcome-Content-Text {
    margin-left: 50px;
    align-items: center;
    justify-content: start;
    display: flex;
    flex-direction: column;
    width: 35%;
}

.Welcome-Content-Text-Title {
    font-family: sans-serif;
    font-size: 2.0em;
    color: white;
}

.Welcome-Content-Text-Description {
    margin-top: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.3em;
    color: white;
}

.Welcome-Content img {
    padding: 0;
    width: 450px;
    height: 555px;
    margin-right: 10px;
    margin-left: 250px;

}